<div>
    <label class="switch pull-right">
        <!--check if article is already saved-->
        <% if current_user && UserArticle.where(:article_id => @article.id, :user_id => current_user.id, :saved => true).any? %>
            <input type="checkbox" id = "bottom-checkbox" checked onclick="userArticleSave(this, <%=@article.id%>);">
        <% else %>
            <input type="checkbox" id = "bottom-checkbox" unchecked onclick="userArticleSave(this, <%=@article.id%>);"> 
        <% end %>
      <div class="slider round"></div>
    </label>                                                    
</div>
<div class="meta-list pull-right">
    <span class="post-title">SAVE THIS ARTICLE:</span> 
</div> 
<div class="share-social-link pull-left" style="margin-top: 5px;">
    <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcannabiznetwork.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Facebook.png") %></a></li>
        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcannabiznetwork.com&text=:%20http%3A%2F%2Fcannabiznetwork.com&via=CannabizNetwork" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Twitter.png") %></a></li>
        <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcannabiznetwork.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><%= image_tag("icons/Reddit.png") %></a></li>
    </ul>
</div>