<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <aside class="zm-post-lay-a2-area">
        <div class="row">
            <div class="col-xs-12">
                <div class="post-title mb-40">
                    <h2 class="h6 inline-block">Other Posts By <%= @article.source.name%></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="zm-posts clearfix">
                <% @same_source_articles.each do |article| %>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <article class="zm-post-lay-a2">
                            <div class="zm-post-thumb same-source">
                                <a href="<%= article_path(article) %>">
                        	        <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'substitutes/news-substitute.jpg' %>'" alt="<%=article.title%>">
                                </a>
                            </div>
                            <div class="zm-post-dis">
                                <div class="zm-post-header">
                                    <h2 class="zm-post-title h2"><%= link_to article.title.truncate(60).titlecase, article_path(article)%></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><%= link_to article.source.name, source_path(article.source), class: 'zm-author'%></li>
                                            <li class="s-meta" style = "float: right;"><%= link_to article.created_at.strftime("%B %d, %Y"), article_path(article), class: 'zm-date'%></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                <% end %>
            </div>
        </div>
    </aside>
</div>