<div class="home-state-dropdown-mobile">
    <select name="State" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
    	<option value = "<%= root_path %>">Change State</option>
    	<% @all_states.each do |state| %>
    	    <% if @site_visitor_state.present? && @site_visitor_state.name == state.name %>
    	        <option value = "<%=root_path(state: state.name)%>" selected="selected"><%=state.name.upcase%></option>
    	    <% else %>
    	        <option value = "<%=root_path(state: state.name)%>"><%=state.name.upcase%></option>
    	    <% end %>
    	<% end %>
    </select>
</div>

<style>
    .home-state-dropdown-mobile {
        width: 90%;
        padding: 1em 5%;
        border-top: 1px solid rgba(255,255,255,.5);
    } 
    @media (min-width: 992px) and (max-width: 1169px) {
        .home-state-dropdown {
            padding: 0 12px;
        } 
    }
</style>