<!-- individual dispensary on the index -->
<div class="col-md-3 productspacer ind-product">
	<!-- product image -->
	<% if @site_visitor_state.product_state %>
        <a href="<%= product_path(product, state_id: @site_visitor_state.id) %>">
    <% else %>
        <a href="<%= product_path(product) %>">
    <% end %>
    	<% if product.image.present? && Rails.env.production? %>
    	    <img src="<%=product.image_url(:product_show)%>" onerror="this.src='<%= asset_path product.default_image %>'" alt="<%=product.name%>">
    	<% else %>
    	    <%= image_tag(product.default_image) %>
    	<% end %>
    </a>
    
    <div class="description">
        <!-- Start single productitem-->
        <article class="overflow">                                     
            <div class="zm-post-dis">
                <div class="zm-post-header">
                    
                    <h5 class="h5height product-index-ind">
                        <% if @site_visitor_state.product_state %>
            	            <%=link_to product.name, product_path(product, state_id: @site_visitor_state.id)%>
            	        <% else %>
            	            <%=link_to product.name, product_path(product)%>
            	        <% end %>
                    </h5>
                    <div class="zm-category hidden-991">
                        <% if product.category.present? %>
                            <% if @site_visitor_state.product_state %>
                                <a class="bg-cat-3 cat-btn" href="<%=products_path(cat: product.category.name, state: @site_visitor_state.name)%>">
                            <% else %>        
                                <a class="bg-cat-3 cat-btn" href="<%=products_path(cat: product.category.name)%>">
                            <% end %>
                                    <%= product.category.name %>    
                                </a>
                        <% end %>
                        
                        <!--sub category-->
                        <% if product.sub_category.present? %>
                        
                            <!--#see if it has is_dom-->
                            <% if product.is_dom.present? %>
                                
                                <% if product.is_dom == 'Indica' %>
                                
                                    <% if @site_visitor_state.product_state %>
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Indica', state: @site_visitor_state.name)%>">Hybrid-Indica</a>
                                    <% else %>        
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Indica')%>">Hybrid-Indica</a>
                                    <% end %>
                                    
                                
                                <% else %>

                                    <% if @site_visitor_state.product_state %>
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Sativa', state: @site_visitor_state.name)%>">Hybrid-Sativa</a>
                                    <% else %>        
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Sativa')%>">Hybrid-Sativa</a>
                                    <% end %>
                                
                                <% end %>
                                
                            <% else %>
                                <% if @site_visitor_state.product_state %>
                                    <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path(sub_cat: product.sub_category, state: @site_visitor_state.name)%>"><%= product.sub_category %></a>
                                <% else %>        
                                    <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path(sub_cat: product.sub_category)%>"><%= product.sub_category %></a>
                                <% end %>   
                            <% end %>
                            
                        <% end %>
                        
                    </div>
                    <div class="product-info">
                        <p style="max-height: 53px; overflow: hidden;">Produced By:
                            <% if product.vendors.any? %>
                                <% product.vendors.each_with_index do |vendor, index| %>
                                    <% if index + 1 == product.vendors.size %>
                                        <%= link_to vendor.name, vendor_path(vendor), :class => 'vendor_path'%>
                                    <% else %>
                                        <%= link_to vendor.name, vendor_path(vendor), :class => 'vendor_path'%>,&nbsp;
                                    <% end %>
                                <% end %>
                            <% elsif product.vendor.present? %>
                                <%= link_to product.vendor.name, vendor_path(product.vendor), :class => 'vendor_path'%>
                            <% end %> 
                        </p>
                    </div>
                    <div class="product-info">
                        <p>Average Prices:
                            <% product.average_prices.each_with_index do |average_price, index| %>
                                <% if index + 1 == product.average_prices.size %>
                                    <% if @site_visitor_state.product_state %>
                                        <a href="<%=product_path(product, average_price_id: average_price.id, state_id: @site_visitor_state.id)%>" style="color: #2ab081;">
                                    <% else %>
                                        <a href="<%=product_path(product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                                    <% end %>
                                        <%="$#{average_price.average_price.round}/#{average_price.average_price_unit}"%></a>
                                <% else %>
                                    <% if @site_visitor_state.product_state %>
                                        <a href="<%=product_path(product, average_price_id: average_price.id, state_id: @site_visitor_state.id)%>" style="color: #2ab081;">
                                    <% else %>
                                        <a href="<%=product_path(product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                                    <% end %>
                                        <%="$#{average_price.average_price.round}/#{average_price.average_price_unit}"%></a>,&nbsp;
                                <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- End single productitem-->
    </div>
</div>