<div class="col-md-3 productspacer similar_product">
    <% if @site_visitor_state.product_state %>
        <a href="<%= product_path(product, state_id: @site_visitor_state.id) %>">
    <% else %>
        <a href="<%= product_path(product) %>">
    <% end %>
        <% if Rails.env.production? && product.image_url != nil %>
            <img src="<%= product.image_url(:product_show)%>" onerror="this.src='<%= asset_path product.default_image %>'" alt="<%=product.name%>">
        <% else %>
            <%= image_tag(product.default_image) %>
        <% end %>
    </a>
    <div class="description">
        <!-- Start single productitem-->
        <article class="overflow">                                     
            <div class="zm-post-dis">
                <div class="zm-post-header">
                          
                    <h5 class="h5height" style="max-height: 27px; overflow: hidden;">
                    	<% if @site_visitor_state.product_state %>
            	            <%=link_to product.name, product_path(product, state_id: @site_visitor_state.id)%>
            	        <% else %>
            	            <%=link_to product.name, product_path(product)%>
            	        <% end %>
                    </h5>
                    
                    <div class="zm-category hidden-991">
                        <% if product.category.present? %>
                            <% if @site_visitor_state.product_state %>
                                <a class="bg-cat-3 cat-btn" href="<%=products_path(cat: product.category.name, state: @site_visitor_state.name)%>">
                            <% else %>        
                                <a class="bg-cat-3 cat-btn" href="<%=products_path(cat: product.category.name)%>">
                            <% end %>
                                    <%= product.category.name %>    
                                </a>
                        <% end %>
                        
                        <!--sub category-->
                        <% if product.sub_category.present? %>
                        
                            <!--#see if it has is_dom-->
                            <% if product.is_dom.present? %>
                                
                                <% if product.is_dom == 'Indica' %>
                                
                                    <% if @site_visitor_state.product_state %>
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Indica', state: @site_visitor_state.name)%>">Hybrid-Indica</a>
                                    <% else %>        
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Indica')%>">Hybrid-Indica</a>
                                    <% end %>
                                    
                                
                                <% else %>

                                    <% if @site_visitor_state.product_state %>
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Sativa', state: @site_visitor_state.name)%>">Hybrid-Sativa</a>
                                    <% else %>        
                                        <a class="bg-cat-3 cat-btn" 
                                        href="<%=products_path(is_dom: 'Hybrid-Sativa')%>">Hybrid-Sativa</a>
                                    <% end %>
                                
                                <% end %>
                                
                            <% else %>
                                <% if @site_visitor_state.product_state %>
                                    <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path(sub_cat: product.sub_category, state: @site_visitor_state.name)%>"><%= product.sub_category %></a>
                                <% else %>        
                                    <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path(sub_cat: product.sub_category)%>"><%= product.sub_category %></a>
                                <% end %>   
                            <% end %>
                            
                        <% end %>
                        
                    </div>
                </div>
                <%= render partial: 'shared/average_price_vendor', locals: {product: product} %>
            </div>
        </article>
        <!-- End single productitem-->
    </div>
</div>