<!DOCTYPE html>
<html>
    <head>
        <%= render 'shared/head_info' %>
    </head>
    
    <body>
        
        <!--wrapper for all pages including header-->
        <div class="wrapper">
            <%= render 'shared/header' %>
            <%= render 'shared/messages' %>
            <%= yield %>
            <!--removed footer rendering on all pages-->
            <% if @recents == nil || (@state.present? && @state.product_state)  %>
                <%= render 'shared/footer' %>
            <% end %>
        </div>
        
        <%= javascript_include_tag 'article_help'%>
        <%= javascript_include_tag 'sticky' %>
        <%= javascript_include_tag 'endless_scroll' %>
        
        <%#= javascript_include_tag 'jquery-1.12.1.min' %>
        <%= javascript_include_tag 'jquery.meanmenu' %>
        <%= javascript_include_tag 'jquery.meanmenu.min' %>
        <%= javascript_include_tag 'jquery.scrollUp' %>
        <%= javascript_include_tag 'jquery.sticky' %>
        <%= javascript_include_tag 'main' %>
        <%= javascript_include_tag 'user_page' %>
        
        <script>
            $(document).ready(function(){
                $("#product-sidebar").sticky({topSpacing:10});
            });   
        </script>
        
        
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <%= javascript_include_tag 'dispensary_product'%>
        
        <%= javascript_include_tag 'age-verification' %>
        <script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
        
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58c8388905e7400012bc6df2&product=inline-share-buttons"></script>
        
        <style>
            #modal_content {
                background-image: url(<%= asset_path('header_footer/mean-bar-logo.png') %>)
            }
            .trending-post-area .zm-trending-post{cursor:url(<%= asset_path 'icons/cursor.png' %>), auto;}
        </style>
        
        <!--set product or dispensary form values-->
        <% if @set_state.present? %>
            <script>
            	window.onload = setSelectedState('<%=@set_state%>');
            </script>
        <% end %>
        <% if @searched_category.present? %>
            <script>
            	window.onload = setSelectedCategory('<%=@searched_category.name%>');
            </script>
        <% end %>
        <% if @az_letter.present? %>
            <script>
            	// set the parameter in the form
            	window.onload = selectSelectedAZValue('<%=@az_letter%>');
            </script>
        <% end %>
    </body>
</html>
